@import 'tailwindcss';
@import 'tw-animate-css';

@plugin "@egoist/tailwindcss-icons";

body {
  height: 100svh;
  display: grid;
  max-width: 900px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}
