name: CI

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

env:
  # Disable corepack from downloading the latest version of package managers,
  # which may be buggy.
  COREPACK_DEFAULT_TO_LATEST: 0

jobs:
  collect_dirs:
    runs-on: ubuntu-latest
    outputs:
      test_matrix: ${{ steps.run_collect_dirs.outputs.test_matrix }}
    steps:
      - uses: actions/checkout@v6

      - run: echo "test_matrix=$(.scripts/build_matrix.py)" > output.txt

      - run: cat output.txt

      - id: run_collect_dirs
        run: cat output.txt >> ${GITHUB_OUTPUT}

  test:
    runs-on: ubuntu-latest
    needs: collect_dirs

    strategy:
      matrix: ${{ fromJson(needs.collect_dirs.outputs.test_matrix) }}
      fail-fast: false

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.1

      - name: Install npm, yarn and pnpm
        run: |
          npm install -g corepack
          corepack --version
          corepack enable

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - name: Test
        run: bash -c ".scripts/test.sh ${{ matrix.package_manager }} ${{ matrix.dirs }}"

  after_test:
    runs-on: ubuntu-latest
    needs: test
    if: always()
    steps:
      - name: Print tests results
        run: |
          echo "Test results:"
          echo "${{ toJSON(needs) }}"

      - name: Exit with failure if any tests failed
        if: always() && needs.test.result != 'success'
        run: exit 1
