# https://autofix.ci/setup

name: autofix.ci

on:
  pull_request:

permissions:
  contents: read

jobs:
  fix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - run: bun install
      - run: bun run fetch
      - run: bun run fix

      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
